[submodule "extlibs/riichi-mahjong-tiles"]
	path = extlibs/riichi-mahjong-tiles
	url = git@github.com:FluffyStuff/riichi-mahjong-tiles.git
[submodule "extlibs/source-sans-pro"]
	path = extlibs/source-sans-pro
	url = git@github.com:adobe-fonts/source-sans-pro.git
